* {
    box-sizing: border-box;
}
html, body{
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
    min-height: 100vh;
    padding-top: 95px;
    background-image: url('assets/img/fundo2.jpeg');
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
}
.header {
    position: fixed;
    top: 5px;
    left: 0;

    width: 100%;
    height: 85px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 70px;

    background: rgba(5,5,5,0.82);
    backdrop-filter: blur(14px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);

    z-index: 999;
}
.logo{
    color: white;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3px;
}
.menu {
    display: flex;
    align-items: center;
    gap: 38px;
}
.menu a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: 0.3s ease;
}
.menu a::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -8px;

    width: 0%;
    height: 2px;

    background: #ff2b2b;

    transition: 0.3s ease;
}
.menu a:hover {
    color: #ff2b2b;
}
.menu a:hover::after {
    width: 100%;
}
.logo img {
    height: 58px;
    width: auto;
    display: block;
}
.barra-rolagem{
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background: #ff2b2b;
    z-index: 9999;
}
.banner-loop {
    width: 100%;
    height: 220px;
    margin-top: 10px;
    overflow: hidden;
    background: #111;
    position: relative;
}
.loop-track {
    display: flex;
    width: max-content;
    animation: scrollLoop 20s linear infinite;
}
.loop-track img {
    width: 400px;
    height: 220px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 10px;
}
@keyframes scrollLoop {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}